.item {
    margin: 1em 0.4em;
    border: 1px solid #cbe0aa;
  }

.item:hover {
    transform: scale(1.03);
  }

.item a {
    text-decoration: none;
    color: black;
  }
  
.item a:hover {
    color: #00348F;
  }
  
.item p {
    padding: 0rem 0rem;
  }